body {
	font-family: "Linux Libertine O", "Linux Libertine O External", serif;
}
#header {
	font-family: "Linux Biolinum O", "Linux Biolinum O External", sans-serif;
}
#navigation {
	font-family: "Linux Biolinum O", "Linux Biolinum O External", sans-serif;
}
@font-face {
  font-family: "Linux Biolinum O External";
  font-style: normal;
  font-weight: bold;
  src: local("Linux Biolinum O Bold"),
       url("LinBiolinum_Bd.otf") format("opentype"),
       url("LinBiolinum_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "Linux Biolinum O External";
  font-style: italic;
  font-weight: normal;
  src: local("Linux Biolinum O Italic"),
       url("LinBiolinum_It.otf") format("opentype"),
       url("LinBiolinum_It.ttf") format("truetype");
}
@font-face {
  font-family: "Linux Biolinum O External";
  font-style: normal;
  font-weight: normal;
  src: local("Linux Biolinum O"),
       url("LinBiolinum_Re.otf") format("opentype"),
       url("LinBiolinum_Re.ttf") format("truetype");
}
@font-face {
  font-family: "Linux Libertine O External";
  font-style: normal;
  font-weight: bold;
  src: local("Linux Libertine O Bold"),
       url("LinLibertine_Bd.otf") format("opentype"),
       url("LinLibertine_Bd.ttf") format("truetype");
}
@font-face {
  font-family: "Linux Libertine O External";
  font-style: italic;
  font-weight: bold;
  src: local("Linux Libertine O Bold Italic"),
       url("LinLibertine_BI.otf") format("opentype"),
       url("LinLibertine_BI.ttf") format("truetype");
}
@font-face {
  font-family: "Linux Libertine O External";
  font-style: italic;
  font-weight: normal;
  src: local("Linux Libertine O Italic"),
       url("LinLibertine_It.otf") format("opentype"),
       url("LinLibertine_It.ttf") format("truetype");
}
@font-face {
  font-family: "Linux Libertine O External";
  font-style: normal;
  font-weight: normal;
  src: local("Linux Libertine O"),
       url("LinLibertine_Re.otf") format("opentype"),
       url("LinLibertine_Re.ttf") format("truetype");
}

