body {
	font-family: "Linux Libertine O", "Linux Libertine O External", "Palatino Linotype", "Book Antiqua", serif;
	background: #afbdd3;
	margin: 0px;
}
#container {
	max-width: 757px;
	box-shadow: 0px 0px 10px #444444;
	border-left: 1px solid #a9a9a9;
	border-right: 1px solid #a9a9a9;
	border-bottom: 1px solid #a9a9a9;
	padding: 1em;
	background: white;
	margin: 0px auto;
}
@media screen and (max-width: 790px) {
	#container {
		padding: 0.5em;
		position: absolute;
		top: 0px;
		left: 0px;
		box-shadow: none;
		border: none;
		margin: none;
	}
}
#header {
	font-family: "Linux Biolinum O", "Linux Biolinum O External", "Trebuchet MS", sans-serif;
	display: block;
	background-repeat: no-repeat;
	max-width: 757px;
	height: 207px;
	padding-left: 0.5em;
	margin: 0px auto;
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 2px #000000;
	position: relative;
}
#main_title {
	padding-top: 0.05em;
	font-size: 36pt;
	display: block;
}
#main_subtitle {
	font-size: 12pt;
	display: block;
}
#main_descr {
	font-size: 12pt;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: #c0c0c0;
	margin: 3px;
}
#main_logo {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}
#navigation {
	font-family: "Linux Biolinum O", "Linux Biolinum O External", "Trebuchet MS", sans-serif;
	text-align: center;
}
@media print {
	a {
		color: black;
		text-decoration: none;
	}
	.maplink {
		display: none;
	}
	#main_title {
		padding-left: 78px;
	}
	#main_subtitle {
		padding-left: 78px;
	}
	#main_logo {
		display: inline;
	}
	#container {
		padding: 0.5em;
		position: absolute;
		top: 0px;
		left: 0px;
		box-shadow: none;
		border: none;
		margin: none;
	}
	#header {
		background: white;
		height: auto;
		padding-left: 0px;
		padding-bottom: 0.5em;
		border-bottom: 1px solid gray;
		text-shadow: none;
		color: black;
	}
	#navigation {
		display: none;
	} 
	#main_descr {
		display: none;
	}
	#footer {
		display: none;
	}
}
#navigation a {
	display: inline-block;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: black;
	padding: 0.4em;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	background: #f5f4b3;
	background: #d7dee9;
	text-decoration: none;
}
a.selected {
	font-weight: bold;
}
a#register {
	color: #c0c0c0;
	background: #f0f0f0;
	border-bottom: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
}
#footer {
	border-top: 1px solid gray;
	padding-top: 1em;
	font-size: 80%;
	color: gray;
}
#obsolete {
	margin: 0.2em;
	margin-top: 1em;
	padding: 0.2em;
	border: 1px solid #ffff80;
	background: #ffffd0;
}
#private {
	margin: 0.2em;
	margin-top: 1em;
	padding: 0.2em;
	border: 1px solid #ff8080;
	background: #ffd0d0;
}
.map {
	border: 1px solid #c0c0c0;
	width: 100%;
	height: 470px;
}

/* Crib stuff */
.crib_ctl {
	padding-right: 0.2em;
	cursor: pointer;
}
.crib_steps {
	display: none;
}
.crib_steps td {
	pedding-bottom: 0.4em;
}
.crib_header td {
	vertical-align: top;
	padding-top: 0.2em;
}
.crib_table .crib_source {
	color: #606060;
}
.crib_table .crib_name_cell {
	width: 100%;
}
.crib_header td {
	padding-top: 0.4em;
}
.crib_table .crib_format {
	white-space: nowrap;
}
.crib_header {
	border: 1px solid gray;
}
.crib_interlude {
	text-align: center;
}
.crib_interlude td {
	padding-top: 0.2em;
}
.crib_table {
	width: 100%;
}
.crib_step_table tr td {
	vertical-align: top;
}
.crib_step_bars {
	white-space: pre;
	padding-left: 1.25em;
	padding-right: 0.75em;
	text-align: right;
	padding-bottom: 0.4em;
}
.crib_step_figures {
	padding-bottom: 0.4em;
}
.crib_note {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.crib_name {
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}
a.crib_name {
	color: black;
}
@media screen and (max-width: 480px) {
	.crib_table .crib_format {
		white-space: normal;
	}
}
@media print {
	.crib_youtube {
		display: none;
	}
	.crib_dropdown {
		display: none;
	}
	.noprint {
		display: none;
	}
}

/* Imported stuff from Google forms */
.ss-logo-link {
display : block;
}
.ss-logo {
border : none;
height : 23px;
width : 105px;
}
.g {
color : #666;
}
.ss-form-desc {
font : inherit;
width : 99%;
margin : 0;
}
.ss-powered-by {
display : block;
clear : left;
color : #666;
margin : 1em 0.2em 0.2em;
}
.ss-powered-by a:link, .ss-powered-by a:visited {
color : #666;
}
.ss-required-asterisk {
color : #c43b1d;
}
.ss-no-ignore-whitespace {
white-space : pre-wrap;
overflow-wrap : break-word;
}
.ss-confirmation-header {
font-size : 140%;
padding-bottom : 1em;
}
.ss-abuse-header {
background : #fff68f;
line-height : 1.3em;
margin : 0 auto 1em;
padding : 0.5em;
width : 97%;
}
.form-error-arg {
font-weight : bold;
}
.aria-only-help {
font-size : 0;
left : -9999px;
position : absolute;
}
.ss-grid {
overflow-x : auto;
}
.ss-gridnumbers {
text-align : center;
border-bottom : 1px solid #d3d8d3;
}
.ss-gridnumber {
display : block;
padding : 0.5em 0 0.5em;
}
.ss-gridrow {
text-align : center;
color : #666;
border-bottom : 1px solid #d3d8d3;
padding : 0.5em 0.25em;
}
.ss-grid-row-even {
background-color : #fff;
}
.ss-grid-row-odd {
background-color : #f2f2f2;
}
.ss-gridrow-leftlabel {
min-width : 100px;
max-width : 200px;
padding-left : 15px;
text-align : left;
}
.ss-grideditor-columns input {
line-height : 150%;
}
.ss-grideditor-editor .ss-magiclist-ul span.ss-header {
font-weight : bold;
padding-right : 1em;
}
.ss-grid-separator {
border : #e5e5e5 solid 1px;
}
.ss-scalenumbers {
text-align : center;
}
.ss-scalenumber {
display : block;
padding : 0.5em 0 0.5em;
}
.ss-scalerow {
text-align : center;
color : #666;
border : #d3d8d3 solid 1px;
border-left : 0;
border-right : 0;
padding : 0.5em 0.25em;
}
td.ss-leftlabel {
text-align : right;
padding-left : 0;
}
td.ss-rightlabel {
text-align : left;
padding-right : 0;
}
.ss-form-entry {
margin-bottom : 1.5em;
}
.ss-form-entry input {
vertical-align : middle;
margin-left : 0;
margin-top : 0;
}
.ss-form-entry select {
max-width : 100%;
}
.ss-q-title {
display : block;
font-weight : bold;
}
.ss-q-help {
display : block;
color : #666;
margin : 0.1em 0 0.25em 0;
font-size: 75%;
}
.ss-textarea {
max-width : 99%;
}
.ss-q-long {
resize : vertical;
width : 70%;
}
.ss-choices {
list-style : none;
margin : 0.5em 0 0 0;
padding : 0;
}
.ss-choice-item {
margin : 0;
line-height : 1.3em;
padding-bottom : 0.5em;
}
.ss-required-asterisk {
color : #c43b1d;
}
.ss-section-title {
background-color : #eee;
padding : 0.4em;
margin : 2em -0.4em 0;
}
.ss-section-description {
margin-top : 0.5em;
}
.ss-page-title {
margin : 0;
padding : 0;
}
.ss-formwidget-container:focus {
outline : none;
}
.ss-item {
margin : 12px 0;
}
.ss-edit-link, .ss-edit-link:active, .ss-edit-link:visited, .ss-edit-link:hover, .ss-edit-link:link {
background : url(//www.gstatic.com/docs/spreadsheets/forms/edit_dark.png) 7px 8px no-repeat #1f1f1d;
border : #fff solid 1px;
color : #fff;
float : right;
font : normal normal 13px arial, sans-serif;
font-weight : bold;
padding : 7px 7px 7px 27px;
text-decoration : none;
}
.disclaimer .ss-terms a:link {
color : #15c;
text-decoration : none;
}
.disclaimer .ss-terms a:hover {
text-decoration : underline;
}
.disclaimer .ss-terms a:active {
color : #d14836;
}
.disclaimer .ss-terms a:visited {
color : #61c;
}
.disclaimer {
color : #777;
font : normal normal 11px arial, sans-serif;
margin-top : 11px;
}
.disclaimer-separator {
border-top : 1px solid #ebebeb;
}
.disclaimer .ss-logo-link {
color : #777;
text-decoration : none;
}
.powered-by-logo {
display : inline-block;
vertical-align : bottom;
}
.powered-by-text {
line-height : 16px;
}
.ss-terms {
display : inline-block;
line-height : 20px;
width : 80%;
text-align : center;
}
.ss-submit-message {
font : normal normal 13px arial, sans-serif;
margin-bottom : 20px;
}
.errorbox-bad {
border : #c43b1d solid 2px;
background-color : #ffe6cc;
padding : 2px;
}
.errorheader {
color : #c43b1d;
}
.ss-confirmation-banner, .ss-editing-response {
background-color : #ffff87;
padding : 1em;
}
.ss-form-container {
padding : 10px;
}
